# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
sklon/technical_indicators_maker.py
sklon/features_selector.py
sklon/algo_supervised.py
sklon/algo_dim_reduction.py
sklon/algo_dim_reduction.py
sklon/algo_unsupervised.py
sklon/utils.py
utils/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Documentation
docs/_build/